In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import seaborn as sns
from pandas_profiling import ProfileReport

## Average annual domestic gas bills for GB regions with average unit costs based on consumption of 13,600kWh/year, since 2018 [Source: Average annual domestic gas bills for GB regions (QEP 2.3.3)](https://www.gov.uk/government/statistical-data-sets/annual-domestic-energy-price-statistics)

- United Kingdom
- Bills in this release are now calculated assuming an annual consumption of 13,600 kWh.
- Bills and unit costs reflect the prices of all suppliers and include standing charges. Figures are inclusive of VAT. 
- Bills relate to calendar year, i.e. Covering consumption from Q1 to Q4 of the named year.
- Unit costs are calculated by dividing the bills shown by the relevant consumption levels. 
- An 'r' next to a value indicates it has been revised. An 'r' in the United Kingdom row indicates that all data for that quarter has been revised.
- p's in year column indicate provisional data.
- Freeze panes are turned on. To turn off freeze panes select the 'View' ribbon then 'Freeze Panes' then 'Unfreeze Panes' or use [Alt,W,F]
- Source: Department for Business, Energy and Industrial Strategy (BEIS)

In [2]:
gas = pd.read_csv('UKGasHist.csv')
gas.head()

,Year,Region,Credit: Unit Cost (pence per kWh),Credit: Bill (pounds),Direct debit: Unit Cost (pence per kWh),Direct debit: Bill (pounds),Prepayment: Unit Cost (pence per kWh),Prepayment: Bill (pounds),Overall: Unit Cost (pence per kWh),Overall: Bill (pounds)
0,2018,East Midlands,4.320564,648.084601,3.780164,567.024618,3.759168,563.875217,3.873593,581.038976
1,2018,Eastern,4.393549,659.032290,3.848033,577.204941,3.801151,570.172679,3.947257,592.088515
2,2018,London,4.492729,673.909331,4.044522,606.678342,3.914210,587.131438,4.141794,621.269041
3,2018,Merseyside & North Wales,4.373080,655.961927,3.887291,583.093723,3.816874,572.531077,3.956167,593.425092
4,2018,North East,4.267437,640.115592,3.728942,559.341373,3.722145,558.321794,3.816437,572.465617

## Average annual domestic standard electricity bills in for UK regions with average unit costs based on consumption of 3,600kWh/year since 2017 [Source: Average annual domestic electricity bills for UK regions (QEP 2.2.3)](https://www.gov.uk/government/statistical-data-sets/annual-domestic-energy-price-statistics)

- United Kingdom
- Bills in this release are now calculated assuming an annual consumption of 3,600 kWh.
- Bills and unit costs reflect the prices of all suppliers and include standing charges. Figures are inclusive of VAT. 
- Bills relate to calendar year, i.e. Covering consumption from Q1 to Q4 of the named year.
- Unit costs are calculated by dividing the bills shown by the relevant consumption levels. 
- An 'r' next to a value indicates it has been revised. An 'r' in the United Kingdom row indicates that all data for that quarter has been revised.
- p's in year column indicate provisional data.
- Freeze panes are turned on. To turn off freeze panes select the 'View' ribbon then 'Freeze Panes' then 'Unfreeze Panes' or use [Alt,W,F]
- Source: Department for Business, Energy and Industrial Strategy (BEIS)

In [6]:
electric = pd.read_csv('UKElectricHist.csv')
electric.head()

,Year,Region,Credit: Unit cost (Pence per kWh),Credit: Bill (Pounds),Direct debit: Unit cost (Pence per kWh),Direct debit: Bill (Pounds),Prepayment: Unit cost (Pence per kWh),Prepayment: Bill (Pounds),Overall: Unit cost (Pence per kWh),Overall: Bill (Pounds)
0,2017,East Midlands,17.267992,621.647710,15.473803,557.056904,16.180931,582.513515,15.974607,575.085865
1,2017,Eastern,17.517021,630.612740,15.646116,563.260177,16.368127,589.252568,16.179813,582.473264
2,2017,London,17.898733,644.354393,16.148497,581.345909,16.082467,578.968794,16.701734,601.262411
3,2017,Merseyside & North Wales,18.903100,680.511582,16.906958,608.650483,17.438386,627.781909,17.419895,627.116226
4,2017,North East,17.863041,643.069485,15.848023,570.528822,16.559057,596.126062,16.404920,590.577109

## Total household expenditure on energy, United Kingdom [Source: Total household expenditure on energy in the UK (QEP 2.6.1)](https://www.gov.uk/government/statistical-data-sets/annual-domestic-energy-price-statistics)

- Figures in current prices
- These figures are based on Consumer Trends, as published by the Office for National Statistics.
- All data may be subject to change by ONS.
- Note 1. Liquid fuels includes fuel oils and heating oils.
- Freeze panes are turned on. To turn off freeze panes select the 'View' ribbon then 'Freeze Panes' then 'Unfreeze Panes' or use [Alt,W,F]
- Source: Office for National Statistics

In [5]:
tot_spend = pd.read_csv('TotalEnergySpendUK.csv')
tot_spend.tail()

,Year,Solid Fuels (£ million),Gas (£ million),Electricity (£ million),Liquid Fuels (£ million)[Note 1],All fuel and power (£ million),Vehicle Fuels and Lubricants (£ million),Total energy products (£ million),Total consumers expenditure (£ million)
46,2016,326,14508,15924,833,31591,27923,59514,1248091
47,2017,324,12906,16048,1073,30351,31203,61554,1287278
48,2018,370,14101,17230,1366,33067,34786,67853,1335216
49,2019,354,13943,18201,1292,33790,34275,68065,1367861
50,2020,371,12065,18422,926,31784,25996,57780,1231580

## Combine Gas and Electric Data

Add extra column that categorises if data is gas or electric

In [11]:
Energy_type_gas = ['G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G','G']

gas['Energy'] = Energy_type_gas

gas.head()

,Year,Region,Credit: Unit Cost (pence per kWh),Credit: Bill (pounds),Direct debit: Unit Cost (pence per kWh),Direct debit: Bill (pounds),Prepayment: Unit Cost (pence per kWh),Prepayment: Bill (pounds),Overall: Unit Cost (pence per kWh),Overall: Bill (pounds),Energy
0,2018,East Midlands,4.320564,648.084601,3.780164,567.024618,3.759168,563.875217,3.873593,581.038976,G
1,2018,Eastern,4.393549,659.032290,3.848033,577.204941,3.801151,570.172679,3.947257,592.088515,G
2,2018,London,4.492729,673.909331,4.044522,606.678342,3.914210,587.131438,4.141794,621.269041,G
3,2018,Merseyside & North Wales,4.373080,655.961927,3.887291,583.093723,3.816874,572.531077,3.956167,593.425092,G
4,2018,North East,4.267437,640.115592,3.728942,559.341373,3.722145,558.321794,3.816437,572.465617,G

In [15]:
# Fix case-sensitive name inconsistencies between the two datasets
col_names = {"Credit: Unit cost (Pence per kWh)":"Credit: Unit Cost (pence per kWh)",
                "Credit: Bill (Pounds)":"Credit: Bill (pounds)",
                "Direct debit: Unit cost (Pence per kWh)":"Direct debit: Unit Cost (pence per kWh)",
                "Direct debit: Bill (Pounds)":"Direct debit: Bill (pounds)",
                "Prepayment: Unit cost (Pence per kWh)":"Prepayment: Unit Cost (pence per kWh)",
                "Prepayment: Bill (Pounds)":"Prepayment: Bill (pounds)",
                "Overall: Unit cost (Pence per kWh)":"Overall: Unit Cost (pence per kWh)",
                "Overall: Bill (Pounds)":"Overall: Bill (pounds)"}

electric = electric.rename(col_names, axis=1)
electric.head()

,Year,Region,Credit: Unit Cost (pence per kWh),Credit: Bill (pounds),Direct debit: Unit Cost (pence per kWh),Direct debit: Bill (pounds),Prepayment: Unit Cost (pence per kWh),Prepayment: Bill (pounds),Overall: Unit Cost (pence per kWh),Overall: Bill (pounds),Energy
0,2017,East Midlands,17.267992,621.647710,15.473803,557.056904,16.180931,582.513515,15.974607,575.085865,E
1,2017,Eastern,17.517021,630.612740,15.646116,563.260177,16.368127,589.252568,16.179813,582.473264,E
2,2017,London,17.898733,644.354393,16.148497,581.345909,16.082467,578.968794,16.701734,601.262411,E
3,2017,Merseyside & North Wales,18.903100,680.511582,16.906958,608.650483,17.438386,627.781909,17.419895,627.116226,E
4,2017,North East,17.863041,643.069485,15.848023,570.528822,16.559057,596.126062,16.404920,590.577109,E

In [16]:
Energy_type_elec = ['E', 'E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E','E',]


electric['Energy'] = Energy_type_elec

electric.head()

,Year,Region,Credit: Unit Cost (pence per kWh),Credit: Bill (pounds),Direct debit: Unit Cost (pence per kWh),Direct debit: Bill (pounds),Prepayment: Unit Cost (pence per kWh),Prepayment: Bill (pounds),Overall: Unit Cost (pence per kWh),Overall: Bill (pounds),Energy
0,2017,East Midlands,17.267992,621.647710,15.473803,557.056904,16.180931,582.513515,15.974607,575.085865,E
1,2017,Eastern,17.517021,630.612740,15.646116,563.260177,16.368127,589.252568,16.179813,582.473264,E
2,2017,London,17.898733,644.354393,16.148497,581.345909,16.082467,578.968794,16.701734,601.262411,E
3,2017,Merseyside & North Wales,18.903100,680.511582,16.906958,608.650483,17.438386,627.781909,17.419895,627.116226,E
4,2017,North East,17.863041,643.069485,15.848023,570.528822,16.559057,596.126062,16.404920,590.577109,E

In [17]:
# join datasets
energy = pd.concat([gas, electric])
energy.head()

,Year,Region,Credit: Unit Cost (pence per kWh),Credit: Bill (pounds),Direct debit: Unit Cost (pence per kWh),Direct debit: Bill (pounds),Prepayment: Unit Cost (pence per kWh),Prepayment: Bill (pounds),Overall: Unit Cost (pence per kWh),Overall: Bill (pounds),Energy
0,2018,East Midlands,4.320564,648.084601,3.780164,567.024618,3.759168,563.875217,3.873593,581.038976,G
1,2018,Eastern,4.393549,659.032290,3.848033,577.204941,3.801151,570.172679,3.947257,592.088515,G
2,2018,London,4.492729,673.909331,4.044522,606.678342,3.914210,587.131438,4.141794,621.269041,G
3,2018,Merseyside & North Wales,4.373080,655.961927,3.887291,583.093723,3.816874,572.531077,3.956167,593.425092,G
4,2018,North East,4.267437,640.115592,3.728942,559.341373,3.722145,558.321794,3.816437,572.465617,G

In [19]:
# sort data by year

energy = energy.sort_values('Year')
energy.head(20)

,Year,Region,Credit: Unit Cost (pence per kWh),Credit: Bill (pounds),Direct debit: Unit Cost (pence per kWh),Direct debit: Bill (pounds),Prepayment: Unit Cost (pence per kWh),Prepayment: Bill (pounds),Overall: Unit Cost (pence per kWh),Overall: Bill (pounds),Energy
9,2017,South Scotland,17.541869,631.507300,15.713662,565.691828,16.334579,588.044833,16.208950,583.522207,E
1,2017,Eastern,17.517021,630.612740,15.646116,563.260177,16.368127,589.252568,16.179813,582.473264,E
15,2017,United Kingdom,17.826751,641.763044,15.995302,575.830864,16.440574,591.860650,16.481482,593.333353,E
14,2017,Yorkshire,17.560990,632.195655,15.456318,556.427440,16.209671,583.548157,16.059023,578.124844,E
13,2017,West Midlands,17.874396,643.478245,15.806742,569.042711,16.513312,594.479228,16.393777,590.175981,E
12,2017,Southern,17.883927,643.821368,15.944439,573.999794,16.606864,597.847089,16.406199,590.623156,E
11,2017,South West,19.057835,686.082044,17.179642,618.467104,17.617475,634.229115,17.633328,634.799810,E
10,2017,South Wales,18.589114,669.208101,16.792710,604.537566,17.162589,617.853192,17.245608,620.841880,E
0,2017,East Midlands,17.267992,621.647710,15.473803,557.056904,16.180931,582.513515,15.974607,575.085865,E
7,2017,Northern Ireland,14.692779,528.940055,14.415705,518.965381,14.408052,518.689874,14.468418,520.863053,E
6,2017,North West,17.764936,639.537683,15.957073,574.454643,16.438363,591.781067,16.450145,592.205236,E
5,2017,North Scotland,19.153609,689.529921,17.312432,623.247543,17.921463,645.172659,17.805641,641.003086,E
4,2017,North East,17.863041,643.069485,15.848023,570.528822,16.559057,596.126062,16.404920,590.577109,E
3,2017,Merseyside & North Wales,18.903100,680.511582,16.906958,608.650483,17.438386,627.781909,17.419895,627.116226,E
2,2017,London,17.898733,644.354393,16.148497,581.345909,16.082467,578.968794,16.701734,601.262411,E
8,2017,South East,18.154140,653.549032,16.318245,587.456807,16.783788,604.216386,16.762040,603.433439,E
13,2018,Yorkshire,4.270765,640.614743,3.720023,558.003395,3.735843,560.376479,3.821300,573.195036,G
12,2018,West Midlands,4.366114,654.917171,3.817575,572.636232,3.823243,573.486378,3.918783,587.817499,G
11,2018,Southern,4.527460,679.118970,3.985310,597.796515,3.941070,591.160469,4.071691,610.753665,G
10,2018,South West,4.440524,666.078668,3.983276,597.491341,3.911505,586.725803,4.053682,608.052288,G