In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import seaborn as sns
from pandas_profiling import ProfileReport

## Average annual domestic gas bills for GB regions with average unit costs based on consumption of 13,600kWh/year, since 2018 [Source: Average annual domestic gas bills for GB regions (QEP 2.3.3)](https://www.gov.uk/government/statistical-data-sets/annual-domestic-energy-price-statistics)

- United Kingdom
- Bills in this release are now calculated assuming an annual consumption of 13,600 kWh.
- Bills and unit costs reflect the prices of all suppliers and include standing charges. Figures are inclusive of VAT. 
- Bills relate to calendar year, i.e. Covering consumption from Q1 to Q4 of the named year.
- Unit costs are calculated by dividing the bills shown by the relevant consumption levels. 
- An 'r' next to a value indicates it has been revised. An 'r' in the United Kingdom row indicates that all data for that quarter has been revised.
- p's in year column indicate provisional data.
- Freeze panes are turned on. To turn off freeze panes select the 'View' ribbon then 'Freeze Panes' then 'Unfreeze Panes' or use [Alt,W,F]
- Source: Department for Business, Energy and Industrial Strategy (BEIS)

In [2]:
gas = pd.read_csv('UKGasHist.csv')
gas.head()

,Year,Region,Credit: Unit Cost (pence per kWh),Credit: Bill (pounds),Direct debit: Unit Cost (pence per kWh),Direct debit: Bill (pounds),Prepayment: Unit Cost (pence per kWh),Prepayment: Bill (pounds),Overall: Unit Cost (pence per kWh),Overall: Bill (pounds)
0,2018,East Midlands,4.320564,648.084601,3.780164,567.024618,3.759168,563.875217,3.873593,581.038976
1,2018,Eastern,4.393549,659.032290,3.848033,577.204941,3.801151,570.172679,3.947257,592.088515
2,2018,London,4.492729,673.909331,4.044522,606.678342,3.914210,587.131438,4.141794,621.269041
3,2018,Merseyside & North Wales,4.373080,655.961927,3.887291,583.093723,3.816874,572.531077,3.956167,593.425092
4,2018,North East,4.267437,640.115592,3.728942,559.341373,3.722145,558.321794,3.816437,572.465617

## Average annual domestic standard electricity bills in for UK regions with average unit costs based on consumption of 3,600kWh/year since 2017 [Source: Average annual domestic electricity bills for UK regions (QEP 2.2.3)](https://www.gov.uk/government/statistical-data-sets/annual-domestic-energy-price-statistics)

- United Kingdom
- Bills in this release are now calculated assuming an annual consumption of 3,600 kWh.
- Bills and unit costs reflect the prices of all suppliers and include standing charges. Figures are inclusive of VAT. 
- Bills relate to calendar year, i.e. Covering consumption from Q1 to Q4 of the named year.
- Unit costs are calculated by dividing the bills shown by the relevant consumption levels. 
- An 'r' next to a value indicates it has been revised. An 'r' in the United Kingdom row indicates that all data for that quarter has been revised.
- p's in year column indicate provisional data.
- Freeze panes are turned on. To turn off freeze panes select the 'View' ribbon then 'Freeze Panes' then 'Unfreeze Panes' or use [Alt,W,F]
- Source: Department for Business, Energy and Industrial Strategy (BEIS)

In [6]:
electric = pd.read_csv('UKElectricHist.csv')
electric.head()

,Year,Region,Credit: Unit cost (Pence per kWh),Credit: Bill (Pounds),Direct debit: Unit cost (Pence per kWh),Direct debit: Bill (Pounds),Prepayment: Unit cost (Pence per kWh),Prepayment: Bill (Pounds),Overall: Unit cost (Pence per kWh),Overall: Bill (Pounds)
0,2017,East Midlands,17.267992,621.647710,15.473803,557.056904,16.180931,582.513515,15.974607,575.085865
1,2017,Eastern,17.517021,630.612740,15.646116,563.260177,16.368127,589.252568,16.179813,582.473264
2,2017,London,17.898733,644.354393,16.148497,581.345909,16.082467,578.968794,16.701734,601.262411
3,2017,Merseyside & North Wales,18.903100,680.511582,16.906958,608.650483,17.438386,627.781909,17.419895,627.116226
4,2017,North East,17.863041,643.069485,15.848023,570.528822,16.559057,596.126062,16.404920,590.577109

## Total household expenditure on energy, United Kingdom [Source: Total household expenditure on energy in the UK (QEP 2.6.1)](https://www.gov.uk/government/statistical-data-sets/annual-domestic-energy-price-statistics)

- Figures in current prices
- These figures are based on Consumer Trends, as published by the Office for National Statistics.
- All data may be subject to change by ONS.
- Note 1. Liquid fuels includes fuel oils and heating oils.
- Freeze panes are turned on. To turn off freeze panes select the 'View' ribbon then 'Freeze Panes' then 'Unfreeze Panes' or use [Alt,W,F]
- Source: Office for National Statistics

In [5]:
tot_spend = pd.read_csv('TotalEnergySpendUK.csv')
tot_spend.tail()

,Year,Solid Fuels (£ million),Gas (£ million),Electricity (£ million),Liquid Fuels (£ million)[Note 1],All fuel and power (£ million),Vehicle Fuels and Lubricants (£ million),Total energy products (£ million),Total consumers expenditure (£ million)
46,2016,326,14508,15924,833,31591,27923,59514,1248091
47,2017,324,12906,16048,1073,30351,31203,61554,1287278
48,2018,370,14101,17230,1366,33067,34786,67853,1335216
49,2019,354,13943,18201,1292,33790,34275,68065,1367861
50,2020,371,12065,18422,926,31784,25996,57780,1231580